* {
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
#flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#design {
    border: solid #f2c94c;
    border-radius: 6px;
  width: auto;
  margin: 12px;
  padding: 4px;
  background-color: #f2c94c;
}
button[type=submit]{
    width: 100%;
    margin-bottom: 4px;
}
@media screen and (max-width: 720px){
    #design{
        background-color: #f2c94c;
    }
}
@media screen and (max-width: 500px){
    #design{
        background-color: aquamarine;
        text-align: center;
        border-color: aquamarine;
    }
}
